appdirs==1.4.4
asgiref==3.2.9
astroid==2.4.2
colorama==0.4.3
distlib==0.3.0
Django==3.0.7
filelock==3.0.12
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
neat-python==0.92
Pillow==8.2.0
psycopg2==2.8.5
pylint==2.5.3
python-docx==0.8.10
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.23
whitenoise==5.1.0
wrapt==1.12.1
# stack overflow
dj-database-url==0.5.0
dj-static==0.0.6
static3==0.5.1
